@font-face {
    font-family: "myFirstFont";
    src: url("/fonts/Game\ of\ Thrones\ 2.ttf");}



body {
    margin: 0 auto;
    background: url("../assets/site/mapblue.jpg");
}
.card {
    float: left;
    position: relative;
    vertical-align: middle;
    width: 12%;
    text-align: center;

}
.card img:hover {
    cursor: pointer;
}
.portraitcontainer {
    overflow-x: scroll;
    overflow-x: hidden;
    height: 100%;
}
.bgleft {
    width: 80%;
    position: absolute;
    left: 0px;
    height: 100%;
}
.bgright {
    width: 20%;
    position: absolute;
    right: 0px;
    height: 100%;
    background:rgba(62,62,62,1.00);
	color: white;
}
.input {
    bottom: 20px;
    right: 20px;
    width: 75%;
    position: absolute;
}
.gomb {
    bottom: 15px;
    left: 10px;
    position: absolute;
    height: 30px;
    width: 30px;
	border: 2px solid;
	border-color: rgba(255,255,255,1.00);
    background-color: rgba(62,62,62,1.00);
	color: white;
      font-size: 16px;
      
	
}


.nagykep img{
	width: 100%;
	position: relative;
}
.nagykep{
}
::-webkit-scrollbar { 
    display: none; 
}
.nameflag{
	text-align: left;
}
.nameflag p{
	margin-top: 5px;
	margin-lef: 5px;
	font-size: 33px;
    display: inline-block;
    text-align: left;
    margin-right: 50px;
}
.nameflag img{
	display: inline-block;
	right: 10px;
    margin-top: 20px;
    
	position: absolute;
}
.bio p{
	margin: 5px;
}
.cim{
    font-family: "myFirstFont";
text-align: center;

}



