
body {
    margin: 0 auto;
    background: url("../assets/site/mapblue.jpg")  ;
}
.card {
    object-fit: contain;
    float: left;
    padding: 20px 15px 15px 15px ;
    width: 50%;
   
 
    max-width: 12%;
    height: 220px;
    text-align: center;
    box-sizing: border-box;
   
    font-family: "myFirstFont";
    font-size: 20px;

}
.portraitcontainer {
    padding: 15px, 15px, 15px, 15px;
	margin-left: -5px;
    position: relative;
    margin: 0 auto;

}
.bgleft {
   width: 80%;
   position: absolute;
   left: 0px;
   height: 100%;
}
.bgright {
    
    width: 20%;
    position: absolute;
    right: 0px;
    height: 110%;
background-color: rgb(150, 150, 150);
}
.input{
bottom:0;
position: absolute;
border:
}
.gomb{
position: absolute;
bottom:0;
right:0;
background-color: fuchsia;
}

.card img:hover{
	cursor: pointer;
}
.portraitcontainer {
    overflow-x: scroll;
	overflow-x: hidden;
    height: 100%;
}